.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .qcmLesson mat-form-field{
    width: 100%;
    margin-bottom: -0.7em;
  }
  .matSubTitle {
    font-size: 0.875rem;
    color: #0a3d62;
    font-weight: 600;
    margin-bottom: 0.15rem;
    letter-spacing: 0.1em;
  }
  mat-checkbox {
    margin-bottom: 15px;
    margin-right: 15px;
    font-size: xx-large!important;
  }
  