<div class="container-fluid padding">
    <div class="row padding">
        <h1>sdwasdwad</h1>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let course of courses">
        <div class="card">
           
          <div>
            <img class="card-img-top" [src]="'http://localhost:8080/files/' + course.image">
            <div class="card-body" style="position: relative;">
              <h4 class="card-title">{{course.name}}</h4>
              <p>{{course.description}}</p>
              <div>
                <button (click)="enrollCourse(course._id)" class="btn btn-outline-secondary">Enroll</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>