<app-nav-bar></app-nav-bar>
<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/background.jpeg" />
      <div class="carousel-caption slide">
        <h1 class="display-4">You<span id="logoTitle">Learn</span></h1>
        <h6>Learn with pleasure</h6>
        <button type="button" class="btn btn-outline-light btn-lg">
          More...
        </button>
        <button type="button" class="btn btn-primary light btn-lg">
          Get Started
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid padding bg-blue-500">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">
        Welcome to <span style="font-weight: bold">You</span
        ><span style="color: rgb(2, 179, 228)">Learn</span>
      </h1>
    </div>
    <div class="col-12">
      <hr />
    </div>
    <div class="col-12">
      <p class="lead">
        YouLearn's goal is to acquire customers from different generations. It
        is a website that gives you the right information that is available in 3
        versions: Arabic (Tunisian), French and English. It covers all areas
        such as personal development, education (computing, science), lifestyle
        (makeup, fashion ...) ... YouLearn is a real communication tool. Our
        website provides you with a 24-hour service.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-sm-6 col-md-4 col-lg-3 col-6">
      <i class="fa fa-cogs"></i>
      <h3 class="BlueTitle">The Experts</h3>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-6">
      <i class="fa fa-book"></i>
      <h3>Book & Library</h3>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-6">
      <i class="fa fa-graduation-cap"></i>
      <h3 class="BlueTitle">Best Courses</h3>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-6">
      <i class="far fa-handshake"></i>
      <h3>The Best Deal</h3>
    </div>
  </div>
</div>
<!-- Best Courses  -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Best Online Courses</h1>
    </div>
    <hr />
  </div>
</div>
<!-- Cards -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/js.png" />
          <div class="card-body">
            <h4 class="card-title">Java Script</h4>
            <p>
              Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo
              oporteat constituto te. Sonet timeam id his
            </p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/objc.png" />
          <div class="card-body">
            <h4 class="card-title">c#</h4>
            <p>
              Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo
              oporteat constituto te. Sonet timeam id his
            </p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/HTML5.jpg" />
          <div class="card-body">
            <h4 class="card-title">HTML & CSS</h4>
            <p>
              Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo
              oporteat constituto te. Sonet timeam id his
            </p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/python.png" />
          <div class="card-body">
            <h4 class="card-title">Python</h4>
            <p>
              Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo
              oporteat constituto te. Sonet timeam id his
            </p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/bootstrap.jpg" />
          <div class="card-body">
            <h4 class="card-title">Bootstrap</h4>
            <p>
              Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo
              oporteat constituto te. Sonet timeam id his
            </p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/sql.jpg" />
          <div class="card-body">
            <h4 class="card-title">SQL</h4>
            <p>
              Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo
              oporteat constituto te. Sonet timeam id his
            </p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img
            class="card-img-top"
            src="/assets/images/digital-marketing.png"
          />
          <div class="card-body">
            <h4 class="card-title">Digital Marketing</h4>
            <p>
              Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo
              oporteat constituto te. Sonet timeam id his
            </p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/java.jpg" />
          <div class="card-body">
            <h4 class="card-title">JAVA</h4>
            <p>
              Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo
              oporteat constituto te. Sonet timeam id his
            </p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
